<div class="intro-content">
    <h3 class="intro-title" style="margin-bottom: 70px;">欢迎！我们是VMV实验室！</h3>

    <div class="intro-paragraphs">
        <div class="intro-left-copy">
        <p class="intro-text" style="font-size: 22px;font-weight: 700;">
            VMV(Vision& Medicine& Vanguard)实验室隶属于
            <a href="https://iai.hfut.edu.cn/index.htm" class="intro-link" target="_blank">合肥工业大学人工智能创新学院</a>，
            <a href="https://faculty.hfut.edu.cn/caiqing" class="intro-link" target="_blank">蔡青</a> 教授为总负责人，隶属于鲍秉坤院长团队。
            <!--实验室负责人为 <a href="https://tocaiqing.github.io" class="intro-link" target="_blank">蔡青</a> 教授。-->


        </p>

        <p class="intro-text" style="font-size: 22px;font-weight: 700;">
              近年来团队的研究成果发表于 CVPR、AAAI、IJCAI、MM、TIP 等国际顶级学术会议和期刊。
            实验室先后主持和参与国家自然科学基金、山东省自然科学基金等项目。
        </p>
        
        <p class="intro-text" style="font-size: 22px;font-weight: 700;">
              欢迎对我们研究方向感兴趣的同学加入实验室。

        </p>

        </div>

        <div class="intro-contact-row" style="font-size: 22px;font-weight: 700;">
            <p class="intro-text">
                我们聚焦人工智能与交叉学科的前沿探索，构建了多维度、高潜力的研究矩阵，主要方向涵盖：计算机视觉、AI4Science
                、医工交叉、具身智能以及3D 视觉等。凭借扎实的研究积累，实验室
                近年来在国际学术舞台持续输出高水平成果， 热烈欢迎对上述研究方向感兴趣的研究生咨询交流。
                同时欢迎学有余力的本科生同学进入实验室！联系方式：caiqing@hfut.edu.cn

            </p>
            <!--<div class="contact-section">
                <img src="{{ site.url }}{{ site.baseurl }}/images/gif/dogs.gif" alt="Dogs Animation" class="dogs-gif">
                <p class="contact-info">
                    <strong>联系方式：</strong>
                    <a href="mailto:cq@ouc.edu.cn" class="contact-email">caiqing@hfut.edu.cn</a>
                </p>
            </div>-->
        </div>


    </div>
</div>
